extends layout

include _includes/sharedHTMLfunctions

block content
  .row.page-header: .col-lg-12 
    h1= pageHeader.title 
  
  .row
    .col-xs-12.col-md-9
      .row
        .col-xs-12.col-sm-6
          
          p.rating
            +outputRating(location.rating)
          p= location.address
            
            .panel.panel-primary
              .panel-heading
                h2.panel-title Work hours
              .panel-body 
                each time in location.openingTimes 
                  p 
                    | #{time.days} :
                    if time.closed 
                      | closed 
                    else 
                      | #{time.opening} - #{time.closing}
            
            .panel.panel-primary 
              .panel-heading 
                h2.panel-title Tech
            .panel-body 
              each facility in location.facilities 
                span.label.label-warning 
                  span.glyphicon.glyphicon-floppy-saved 
                  | &nbsp;#{facility}
                | &nbsp;
        .col-xs-12.col-sm-6
          .panel.panel-primary 
            .panel-heading
              h2.panel-title Project image 
            .panel-body 
              img(src="https://spectrum.ieee.org/media-library/illustration-of-software-development-in-the-cloud.jpg?id=25591710&width=1200&height=900", width="275" height="200" style="float:left")
      .row
        .col-xs-12
          .panel.panel-primary.review-panel 
            .panel-heading  
              a.btn.btn-default.pull-right(href='/location/review/new') Add review 
              h2.panel-title Developer reviews 
            .panel-body.review-container
              each review in location.reviews
                .row 
                  .review 
                    .well.well-sm.review-header 
                      span.rating
                        +outputRating(review.Rating)
                    span.reviewAuthor #{review.Author}
                    small.reviewTimestamp #{review.timeStamp}
                  .col-xs-12
                    p !{(review.reviewText).replace(/\n/g,'<br/>')}
    .col-xs-12.col-md-3 
      p.lead # #{location.name} #{sidebar.context}
      p= sidebar.callToAction
      